
.accordion-item{
    margin-top: .5rem;
    border: none;
}
  
body {
    background-color:white;
  }

  .dropdown-menu .dropdown-item1 {
    background-color: #f8f9fa; /* Arka plan rengi */
    color: #6c757d; /* Metin rengi */
    text-align: right; /* Metni sağa hizala */
    padding-right: 1.5rem; /* Sağdan boşluk ekle */
    margin-bottom: 0; /* Alt boşluğu kaldır */
  }
  .dropdown-menu .dropdown-item1 + .dropdown-item {
    margin-top: 0.25rem; /* Üst boşluğu ayarla */
  }
  .dropdown-menu .dropdown-item1 + .dropdown-item + .dropdown-item {
    margin-top: 0.25rem; /* Üst boşluğu ayarla */
  }

  .dropdown-toggle::after {
    display: none; /* Aşağı ok yönündeki ikonu gizler */
  }

  .dropdown-toggle .bi-list {
    font-size: 1.5rem; /* İstenilen boyut */
}

  .nav-link {
    font-size: 13px; /* Örnek olarak 14 piksel olarak ayarlandı, istediğiniz boyuta göre değeri değiştirebilirsiniz */
  }

  .dropdown-menu {
    width: 252px; /* Örneğin 200 piksel genişliği */
    height: 605px;
  }

  /* Dropdown menüsündeki liste öğelerini daha kalın yap */
  .dropdown-menu .dropdown-item {
    font-size: 12.8px;
  }

  /* Dropdown menüsünün alt kısmına emoji eklemek için örnek */
  .dropdown-footer{
    padding: 10px; /* Alt kısmın iç boşluğunu ayarla */
    text-align: center; /* İçeriği ortala */
    background-color: #f8f9fa; /* Arkaplan rengini ayarla */
  }

  /* Dropdown menüsü açıldığında sayfanın sol tarafına yaslanması */
  .dropdown-menu.show {
    margin-left: 10px;
  }
  .dropdown-toggle:focus {
    outline: none;
    border: none;
  }
.dropdown-menu {
  border: none;
  border-radius: 0;
}
.dropdown-menu li {
  margin-bottom: 5px; /* Her öğenin altına 5 piksel boşluk bırakır */
}

.dropdown-item1{
  font-size: 11px;
  margin-left: 15px; 
  text-decoration: none;

}
.dropdown-item2{
  display: flex;
  font-size: 11px;
  margin-left: 15px; 
  margin-top: -6px;
  color: rgb(92, 89, 89);
}

.dropdown-item0{
  display: flex;
  float: right;
}
.yazi{
  display: flex;
  font-size: 11px;
  margin-left: 15px; 
  text-decoration: none;
  text-align:center;
  margin-bottom: -5px;
  color: rgb(92, 89, 89);
  
  
}
.yazi1{
  display: flex;
  font-size: 11px;
  margin-left: 15px; 
  text-decoration: none;
  margin-top: -6px;
  color: rgb(92, 89, 89);
}

.btn1{
  font-size: 11px;
  color: white;
  border: none;
  text-align: center;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  text-decoration: none;
  background-color: rgb(225, 119, 19);
  width: 220px;
  height: 28px;
  margin-left: 15px;
}

.btn1:hover {
  background-color: rgb(219, 106, 40);
}
.btn2{
  font-size: 11px;
  background-color: rgba(255, 255, 255, 0); 
  color: rgb(92, 89, 89);
  border: none;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  text-decoration: none;
  width: 220px;
  height: 28px;
  margin-left: 15px;
  }
  .btn2:hover {
    border: 1px solid #dad6d6; 
}